GoldWord/GoldWord/www/downloads/*.apk
GoldWord/GoldWord/www/downloads/*.ipa
GoldWord/GoldWord/www/downloads/*.exe
GoldWord/GoldWord/www/downloads/*.dmg
GoldWord/GoldWord/www/downloads/*.zip
ios/build/
android/app/build/
desktop/dist/
node_modules/
.DS_Store
